@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  .animate-fade-in-delay {
    animation: fadeIn 1s ease-in-out 0.5s both;
  }
  
  .animate-fade-in-delay-2 {
    animation: fadeIn 1s ease-in-out 1s both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
}
@font-face {
  font-family: "font1";
  src: url('./assets/fonts/LemonBrushPersonalUseOnly-Texture.otf');
}
@font-face {
  font-family: "font2";
  src: url('./assets/fonts/OceanBrushArabicDEMO-Texture.otf');
}
@font-face {
  font-family: "footer";
  src: url('./assets/fonts/footer2.ttf');
}
@font-face {
  font-family: "footer3";
  src: url('./assets/fonts/footer3.ttf');
}
.custom-scroll-text{
  font-family: "font2";
}

.reviews{
  background-image: url('./assets/bee.jpg');
  background-size: cover;
}

.footer p{
  font-family: "footer2";
}
.footer h3 {
  font-family: "footer3";
}
